.container {
    width: 50%;
    margin: 20vh auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: fit-content;
}

.h2 {
    margin-bottom: 20px;
    font-size: 2rem;
    color: #333;
}

.h4 {
    margin-bottom: 15px;
    font-size: 1.5rem;
    color: #0070f3;
}

.p {
    font-size: 1.2rem;
    color: #555;
    line-height: 1.6;
    margin-bottom: 30px;
}

.linkes {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.linkes button,
.linkes a {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.linkes button {
    background-color: #0070f3;
    color: white;
}

.linkes a {
    background-color: #e0e0e0;
    color: #0070f3;
    text-decoration: none;
}

.linkes button:hover,
.linkes a:hover {
    transform: translateY(-2px);
    background-color: #005bb5;
}

.linkes a:hover {
    background-color: #c0c0c0;
}

.next { 
    color:red;
}