.container {
  min-width: 400px;
  margin: 20vh auto;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  height: fit-content;
}

.title {
  margin-bottom: 30px;
  font-size: 2rem;
  color: #333;
  font-weight: bold;
}

.form {
  display: flex;
  flex-direction: column;
}

.formGroup {
  margin-bottom: 20px;
  text-align: left;
}

.label {
  margin-bottom: 8px;
  font-size: 1rem;
  color: #666;
  display: block;
}

.input {
  width: 100%;
  padding: 12px 15px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  transition: border-color 0.3s ease;
}

.input:focus {
  border-color: #0070f3;
  outline: none;
  background-color: #fff;
}

.button {
  padding: 12px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #0070f3;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.button:hover {
  background-color: #005bb5;
  transform: translateY(-2px);
}

.button:active {
  transform: translateY(1px);
}

